@model IdezJobsWeb.Models.UserCollege
@{
	ViewBag.Title = "IdezJobs";
	Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>
	Seja Bem Vindo Ao IdezJobs</h2>
<h3>
	Faça Login Usando o Linkedin
</h3>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt">
<head>
	<title>LinkedIn JavaScript API Sample Application</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript">
  $('#loginbadge').css({background-color: "#EAFD43"})
	</script>
	<!-- NOTE: be sure to set onLoad: onLinkedInLoad -->
	<script type="text/javascript">
		function onLinkedInLoad() {
			IN.Event.on(IN, "auth", function () { onLinkedInLogin(); });
			IN.Event.on(IN, "logout", function () { onLinkedInLogout(); });
		}

		function onLinkedInLogout() {
			setLoginBadge(false);
		}

		function profile() {

			IN.API.Profile("me")
			.field(["id", "firstName", "lastName", "pictureUrl", "publicUrl", "headline", "industry", "interests"])
			.result(function (result) {
    			this.publicProfileUrl = result.values[0].lastName
    			this.id = result.values[0].id;
    			this.firstName = result.values[0].firstName;
    			this.pictureUrl = result.values[0].pictureUrl;
    			this.publicUrl = result.values[0].publicUrl;
    			this.headline = result.values[0].headline;
    			this.industry = result.values[0].industry;
    			this.interests = result.values[0].interests;
			})

			function getPublicProfile() {

			}
		}

		function onLinkedInLogin() {
			// we pass field selectors as a single parameter (array of strings)
			IN.API.Profile("me")
			.fields(["id", "firstName", "lastName", "pictureUrl", "publicProfileUrl", "headline", "industry", "interests"])
			.result(function (result) {
				console.log(result);
				setLoginBadge(result.values[0]);
				var dados = {
					id: result.values[0].id
				};
				alert("Primeira chamada: " + JSON.stringify(dados));
				$.ajax({
					type: "POST",
					url: "http://localhost:1677/Account/saveUser/",
					data: result.values[0],
					dataType: 'json',
					success: function (result) {
						//alert(json.stringify(dados));
						if (result.codigo == 1) {
							console.log(result.msg);
						}
						else {
							console.log("Ocorreu algum erro!");
							console.log(result);
						}
					}
				});

			});
		}

		function setLoginBadge(profile) {
			var cont = 0;

			if (!profile) {
				profHTML = "<p>You are not logged in</p>";
			}
			else {
				var pictureUrl = profile.pictureUrl || "http://static02.linkedin.com/scds/common/u/img/icon/icon_no_photo_80x80.png";
				profHTML = "<p><a href=\"" + profile.publicProfileUrl + "\">";
				profHTML = profHTML + "<img align=\"baseline\" src=\"" + pictureUrl + "\"></a>";
				profHTML = profHTML + "&nbsp; Welcome <a href=\"" + profile.publicProfileUrl + "\">";
				profHTML = profHTML + profile.firstName + " " + profile.lastName + "</a>! <a href=\"#\" onclick=\"IN.User.logout(); return false;\"><img src='../../css/img/logout.png' width='20' height='20' title='Logout'/></a></p>";
				profHTML = profHTML + "Atualmente atua como: " + profile.headline;
				profHTML = profHTML + "<br />Industria: " + profile.industry;
				profHTML = profHTML + "<br />ID: " + profile.id;
				profHTML = profHTML + "<br /> Interesse: " + profile.interests;
				profHTML = profHTML + "<br /><br /><a id='consulta' href='#consultar'>Consultar</a>"
			}

			document.getElementById("loginbadge").innerHTML = profHTML;
		}


		function searchCandidates(parametros) {
			//realizo consulta no banco para retornar todos os ids registrados
		}

		function includeFilters(profile) {
			var parameters = {
				pictureUrl: pictureUrl,
				publicProfileUrl: profile.publicProfileUrl,
				lastName: profile.lastName,
				headline: profile.headline,
				industry: profile.industry
			}

			return parameters;
		}

		function saveUser(profile) {
			document.getElementById("iduser").value = profile.id;
			alert(document.getElementById("iduser").value);
		}

	</script>
	<!-- Load in the JavaScript framework and register a callback function -->
	<script type="text/javascript" src="http://platform.linkedin.com/in.js">		/*
		api_key: ixvlxp7r4eqh
		onLoad: onLinkedInLoad
		authorize: true
		*/</script>
	<script type="text/javascript" src="sigin.js"></script>
</head>
<body>
	<script type="IN/Apply" data-companyid="2762439" data-jobtitle="Chief Cat Wrangler"
		data-email="yago@teksoft.com.br">
	</script>
	<script type="IN/Login"></script>
	<div id="loginbadge">
	</div>
	<form name="saveId">
	<input type="hidden" name="iduser" id="iduser" />
	</form>
	<br />
	<br />
	<br />
	<div id="publicUrl" style="display: hidden;" onload="getPublicProfile();">
	</div>
	<script type="text/javascript">		alert("URL: " + getPublicProfile("ilYL3eecz6"));</script>
	<script type='IN/MemberProfile' data-id='"+ profile.publicProfileUrl +"' data-format='inline'></script>
	<div id="consultar" style="display: none;">
		<form>
		<input type="checkbox" />
		PHP
		<input type="checkbox" />
		PEARL
		<input type="checkbox" />
		PYTHON
		<input type="checkbox" />
		MYSQL
		</form>
	</div>
</body>
</html>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm( ))
{
	<div>
		<fieldset>
			<legend>Por Favor Forneça Informações:</legend>
			<div class="editor-label">
				@Html.LabelFor(m => m.Name)
			</div>
			<div class="editor-field">
				@Html.TextBoxFor(m => m.Name)
				@Html.ValidationMessageFor(m => m.Name)
			</div>
			<div class="editor-label">
				@Html.LabelFor(m => m.Password)
			</div>
			<div class="editor-field">
				@Html.PasswordFor(m => m.Password)
				@Html.ValidationMessageFor(m => m.Password)
			</div>
			<div class="editor-label">
				@Html.CheckBoxFor(m => m.RememberMe)
				@Html.LabelFor(m => m.RememberMe)
			</div>
			<p>
				<input type="submit" value="Entrar" id="ButtonEntrar" />
			</p>
		</fieldset>
	</div>
}
