@model IEnumerable<IdezJobsWeb.Models.Vacancy>

@{
    ViewBag.Title = "ShowVacancyProfile";
    Layout = "~/Areas/CommonUser/Views/Shared/_Layout.cshtml";
}

<h2>Vagas Para Meu Perfil</h2>


<table class="table table-bordered">
    <tr>
       
        
        <th>
            Descrição:
        </th>
        <th>
            Horário de Trabalho:
        </th>
        <th>
            Benefícios:
        </th>
        <th>
            Número de Vagas:
        </th>
		<th>
			Opções:
		</th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficeHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Benefits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobsNumber)
        </td>
        <td>
			@Html.ActionLink("Inscrever-me", "Register", new { id = item.Id })
        </td>
    </tr>
}

</table>
