@model IdezJobsWeb.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrative/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Usuário: @Model.Name</h2>

<fieldset>
    <legend>Detalhes </legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">DateRegister</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateRegister)
    </div>

    <div class="display-label">Token</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Token)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Index", "Index")
</p>
