@model IdezJobsWeb.Models.Vacancy
@{
	ViewBag.Title = "Adicionar Vaga";
	Layout = "~/Areas/Administrative/Views/Shared/_Layout.cshtml";
}
<h2>
	Adicionar Vaga</h2>
@using (Html.BeginForm( ))
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Adicionar Vaga:</legend>
		<div class="editor-label">
			@Html.LabelFor(model => model.RegistrationDeadline,"Data Limite Inscrição:")
		</div>
		<div class="editor-field">
			@Html.Telerik().DatePickerFor(model => model.RegistrationDeadline)
			@Html.ValidationMessageFor(model => model.RegistrationDeadline)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Description,"Descrição:")
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.Description)
			@Html.ValidationMessageFor(model => model.Description)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.ProfileVacancy, "Perfil da Vaga:")
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.ProfileVacancy.Id, (IEnumerable<SelectListItem>)ViewBag.PerfilVaga, "Selecione Perfil")@Html.ActionLink("Novo", "Create", "ProfileVacancy")
			@Html.ValidationMessageFor(model => model.ProfileVacancy)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.CompanyName,"Empresa:")
		</div>
		<div class="editor-field">
			@Html.DropDownListFor(model => model.CompanyName.Id,(IEnumerable<SelectListItem>)ViewBag.Company,"Selecione a Empresa")
			@Html.ValidationMessageFor(model => model.CompanyName)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.OfficeHours,"Horário de Trabalho:")
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.OfficeHours)
			@Html.ValidationMessageFor(model => model.OfficeHours)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Benefits,"Benefícios:")
		</div>
		<div class="editor-field">
			@Html.TextAreaFor(model => model.Benefits)
			@Html.ValidationMessageFor(model => model.Benefits)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.JobsNumber,"Números de Vagas:")
		</div>
		<div class="editor-field">
			@Html.Telerik().NumericTextBoxFor(model => model.JobsNumber)
			@Html.ValidationMessageFor(model => model.JobsNumber)
		</div>
		<p>
			<input type="submit" value="Salvar" />
		</p>
	</fieldset>
}
<div>
	@Html.ActionLink("Index", "Index")
</div>
