@model IEnumerable<IdezJobsWeb.Models.Profile>
@{
	ViewBag.Title = "Inscritos";
	Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}
<h2>
	Inscritos</h2>
@*<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<tr>
	
		<th>
			FirstName
		</th>
		<th>
			LastName
		</th>
		<th>
			PictureUrl
		</th>
		<th>
			PublicUrl
		</th>
		<th>
			Headline
		</th>
		<th>
			Industry
		</th>
		<th>
		</th>
	</tr>
	@foreach (var item in Model)
 {

		<tr>
			
			<td>
				@Html.DisplayFor(modelItem => item.FirstName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.LastName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PictureUrl)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PublicUrl)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Headline)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Industry)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>	

 }
</table>
*@
@(Html.Telerik( ).Grid<Profile>( ).Name("GridProfile").DataBinding(binding => binding.Ajax( ).Select("Inscritos3", "Vacancy"))
.Columns(colunas =>
{
	colunas.Bound(c => c.FirstName).Title("Nome:").Width("33%");
	colunas.Bound(c => c.LastName).Title("Sobrenome:").Width("33%");
	colunas.Bound(c => c.PublicUrl).Title("URL Pública:").Width("33%");
	

})
.Pageable(paginas => paginas.PageSize(10))
.Scrollable( )
.Sortable( )
.Selectable( )
.Groupable( )
.Filterable( )
.Resizable(paginas => paginas.Columns(true))
)