@model IEnumerable<IdezJobsWeb.Models.Vacancy>

@{
    ViewBag.Title = "Lista de Vagas";
    Layout = "~/Areas/Business/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Vagas</h2>
@ViewBag.Empty

<p>
    @Html.ActionLink("Adicionar Nova", "Create")
</p>
<table class="table table-bordered">
    <tr>
       
        <th>
            Data Limite Cadastro:
        </th>
        <th>
            Descrição:
        </th>
     
        <th>
            Número de Vagas:
        </th>
        <th>
            Perfil da Vaga:
        </th>
     
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDeadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.JobsNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileVacancy.Myprofile)
        </td>
        <td>
           @Html.ActionLink("Ver Inscritos", "Inscritos", new {id = item.Id})|
		   @Html.ActionLink("Perfil Dos Inscritos","ShowProfile",new {id = item.Id})|
		   @Html.ActionLink("Encontre Usuários","ShowUser",new {id = item.Id})
        </td>
    </tr>
}

</table>
